
  .nav{
    position:fixed;
  	width:100%;
  	height:100px;
  	display:inline;
    background-color:#607D8B;
  	text-align:center;
    z-index:10;
  }
  .menu-left{
    display:inline-block;
    float:left;
  }
  .login-right{
  	display:inline;
  	float:right;
  }
  .logo-center{
    display:inline-block;
  	margin:auto;
  }
  .nav-logo{
    margin-top:5px;
    height:80%;
  }
  .login-button{
  	padding:0px;
  	display:inline-block;
  	background:none;
  	width:75px;
  	height:50px;
  	border:none;
  	cursor: pointer;
  	z-index:1000;
    margin-right:15px;
    margin-top:25px;
  }
  .menu-button{
    padding:0px;
  	display:inline-block;
  	background:none;
    border:none;
    width:50px;
    height:50px;
    margin:25px;
    cursor: pointer;
    z-index:1000;
  }
  .main-page{
    height:100%;
    width:100%;
    background-color:#37474F;
  }
  .bar1, .bar2, .bar3 {
    width:35px;
    height:5px;
    margin-bottom:6px;
    background-color:black;
    transition: 1s;
}
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }

  .change .bar2 {opacity: 0;}

  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }
  .nav-menu{
    position:fixed;
    left:-1000px;
    background-color:blue;
    width:50%;
    height:100%;
    top:0;
    bottom:0;
  }
  #menu_button{}
